* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 100%;
    color: white;
    font-family: "Roboto";
}
h1 {
    text-align: center;
}
html, body {
    background-color: rgb(32, 32, 32);
    min-height: 100%;
}
section {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    max-width: 1440px;
    width: 95%;
    justify-self: anchor-center;
}
.backdrop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    padding: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
    display: none;
    .container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
.grid-container {
    display: grid;
    grid-auto-columns: 250px;
    grid-auto-rows: 250px;
    grid-template-areas: 
        "box-1 box-2 box-2 box-3"
        "box-4 box-4 box-5 box-5"
        "box-7 box-8 box-8 box-6";
    width: 95%;
    gap: 10px;
    justify-content: center;

}
.card {
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    background-position: 50%;
    border: 1px solid rgb(49, 173, 255);
    transition: 0.5s;
    cursor: pointer;
}
.overlay-up {
    position: absolute;
    bottom: 0;
    height: 0%;
    width: 100%;
    transition: 0.5s;
    background: linear-gradient(to bottom, transparent 25%, rgb(49, 173, 255, 1) 125%);
}
.overlay-down {
    position: absolute;
    top: 0;
    height: 0%;
    width: 100%;
    transition: 0.5s;
    background: linear-gradient(to top, transparent 25%, rgb(49, 173, 255, 1) 125%);
}
.card:hover {
    color: black;
    background-size: 110%;
}
.card:hover .overlay-up {
    height: 100%;
}
.card:hover .overlay-down {
    height: 100%;
}
.card:hover .text {
    color: rgb(255, 255, 255);
}
.text {
    color: transparent;
    z-index: 2;
    font-size: 40px;
    font-weight: 700;
    transition: 0.5s;
}
.box-1 {
    grid-area: box-1;
}
.box-2 {
    grid-area: box-2;
}
.box-3 {
    grid-area: box-3;
}
.box-4 {
    grid-area: box-4;
}
.box-5 {
    grid-area: box-5;
}
.box-6 {
    grid-area: box-6;
}
.box-7 {
    grid-area: box-7;
}
.box-8 {
    grid-area: box-8;
}
.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    z-index: 4;
    user-select: none;
    gap: 16px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}
.image {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.name {
    font-size: 30px;
}
.description {
    font-size: 25px;
    text-align: center;
}
button {
    position: absolute;
    top: 25px;
    right: 25px;
    border: 0;
    background-color: transparent;
    padding: 8px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 24px;
    border-radius: 5px; 
    transition: 0.25s;
    cursor: pointer;
}
button:hover {
    color: red;
}
@media only screen and (max-width: 1048px) {
    button {
        font-size: 17px;
    }
    .backdrop {
        padding: 20px;
        .container {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }
    .modal {
        display: flex;
    }
    .image {
        height: 80%;
    }
    .name {
        font-size: 25px;
        text-align: center;
    }
    .description {
        font-size: 17px;
        text-align: center;
    }
    .description {
        text-align: center;
    }
    .title {
        text-align: center;
        font-size: 15px;
        text-transform: capitalize;
        letter-spacing: 2px;
    }
    .grid-container {
        grid-template-areas: 
        "box-1 box-1 box-3"
        "box-2 box-4 box-4"
        "box-5 box-5 box-6"
        "box-7 box-8 box-8";
    }
}
@media only screen and (max-width: 790px) {
    button {
        padding: 4px;
        font-size: 8px;
    }
    .backdrop {
        padding: 20px;
        .container {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }
    .modal {
        width: 80%;
        display: flex;
    }
    .image {
        height: 80%;
    }
    .name {
        font-size: 17px;
        text-align: center;
    }
    .description {
        font-size: 12px;
        text-align: center;
    }
    .description {
        text-align: center;
    }
    .title {
        text-align: center;
        font-size: 15px;
        text-transform: capitalize;
        letter-spacing: 2px;
    }
    .grid-container {
        width: 90%;
        grid-template-areas: 
        "box-1 box-3"
        "box-2 box-2"
        "box-4 box-4"
        "box-5 box-5"
        "box-8 box-8"
        "box-7 box-6"
    }
}